apiVersion: batch/v1
kind: Job
metadata:
  name: {{ publisher_job_name }}
  namespace: {{ k8s_namespace }}
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: publisher
    spec:
      restartPolicy: Never
      containers:
        - name: publisher
          image: {{ registry }}/publisher:{{ image_tag }}
          imagePullPolicy: Always
          command: ["python3", "/app/publisher.py"]
          args:
            - "--brokers"
            - "{{ kafka_bootstrap }}"
            - "--config"
            - "/config/profile.json"
            - "--device-id"
            - "{{ publisher_device_id }}"
            - "--source"
            - "{{ publisher_source }}"
            - "--log-every"
            - "{{ publisher_log_every }}"

            # ? Added PA2 (e) parameters for stress, scaling, and automation
            - "--topic-mode"
            - "shared"             # or "per-sensor" for separate topics
            - "--rate-multiplier"
            - "4.0"                # increases all sensors' rates by 4.0
            - "--key-strategy"
            - "sensor"             # message key: sensor | device | random
            - "--duration-sec"
            - "180"                # auto-stop after 3 minutes (for Jobs)
            # Optional: cap by number of messages
            # - "--max-messages"
            # - "20000"

            # Optional: create topics automatically (requires ACLs)
            # - "--create-topic"
            # - "--partitions"
            # - "3"
            # - "--replication-factor"
            # - "2"
          volumeMounts:
            - name: publisher-profile
              mountPath: /config
      volumes:
        - name: publisher-profile
          configMap:
            name: publisher-profile
            items:
              - key: profile.json
                path: profile.json
